<!doctype html>
<html lang="en" ng-app="MapsExample">
<head>
	<style>.angular-google-map-container { height: 400px; }</style>
  <meta charset="utf-8">
  <title>Angular-Google-Maps Example</title>
  <script src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv2IKyoJNIQ9GdJbgnW-StS9yM_iNPoXw"></script>
	<script src='bower_components/lodash/dist/lodash.compat.js'></script>
	<script src='bower_components/angular-google-maps/dist/angular-google-maps.js'></script>
</head>
<body ng-controller="MapsController">
	<h1>See the map example below!</h1>
	  <google-map center="map.center" zoom="map.zoom" draggable="true">
      <marker ng-repeat="marker in markers" coords="marker.coords" idKey="marker.idKey"></marker>
    </google-map>
    <input ng-model="currentAddress"></input>
		<button ng-click="getLatLong()">Submit Address!</submit>
    
    <script>
    	angular.module('MapsExample', [
    		'google-maps'
    	])
    	  .controller('MapsController', function($scope) {
    	  	// add map with base parameters
    	  	$scope.map = {
  	  	    center: {
	  	        latitude: 37.79,
	  	        longitude: -122.4175
  	  	    },
  	  	    zoom: 13
    	  	};

    			// add markers for each location on the loaded tour
			    $scope.markers = [];

			    // function to create an individual marker
			    $scope.createMarker = function(location) {
			    	console.log('createMarker called with location', location);
			      var marker = {
			        idKey: location.number,
			        coords: {
			          latitude: location.latitude,
			          longitude: location.longitude
			        }
			      };
			      return marker;
			    };
			    
			    // create a google maps geocoder object
			    var geocoder = new google.maps.Geocoder();
			    
			    $scope.getLatLong = function() {
			    	console.log('getLatLong called with', $scope.currentAddress);
			      geocoder.geocode({'address': $scope.currentAddress}, function(results, status) {
		          if(status === google.maps.GeocoderStatus.OK) { 
		          	var markerPosition = {
		          	  latitude: results[0].geometry.location.k,
		          	  longitude: results[0].geometry.location.B,
		          	  number: $scope.markers.length + 1
		          	};
		            $scope.markers.push($scope.createMarker(markerPosition));
		            // remove address text from input box
		            $scope.currentAddress = '';
		          }
		        });
			    };
    	  });
    </script>
 </body>
 




